**What are data structures, and why are they important?**

Data structures are ways of organizing and storing data in a computer so that it can be accessed and modified efficiently. They are important because they allow us to manage and manipulate data effectively for various tasks and algorithms.

**Explain the difference between mutable and immutable data types with examples.**

*   **Mutable** data types can be changed after they are created. Examples include lists, dictionaries, and sets. You can add, remove, or modify elements within these structures.

In [ ]:
my_string = "hello"
new_string = my_string.replace("h", "H")

**What are the main differences between lists and tuples in Python?**

*   **Mutability:** Lists are mutable, while tuples are immutable.
*   **Syntax:** Lists are defined using square brackets `[]`, and tuples are defined using parentheses `()`.
*   **Use cases:** Lists are typically used for collections of items that might change, while tuples are used for collections of items that should not change (e.g., coordinates, pairs of values).

**Describe how dictionaries store data.**

Dictionaries store data as key-value pairs. Each key must be unique and immutable (like strings, numbers, or tuples), and it maps to a corresponding value, which can be any data type. Dictionaries are unordered in versions of Python prior to 3.7, but ordered in 3.7 and later versions, based on insertion order.

**Why might you use a set instead of a list in Python?**

You might use a set instead of a list when you need:
*   To store a collection of unique elements (sets automatically handle duplicates).
*   To perform set operations like union, intersection, and difference efficiently.
*   Fast membership testing (checking if an item is in the set).

**What is a string in Python, and how is it different from a list?**

A string in Python is an immutable sequence of characters. While both strings and lists are sequences and can be iterated over, strings are specifically for text, and lists can contain elements of any data type. The key difference is mutability: lists can be modified, while strings cannot.

**How do tuples ensure data integrity in Python?**

Tuples ensure data integrity because they are immutable. Once a tuple is created, its elements cannot be changed, added, or removed. This prevents accidental modification of the data they hold, making them suitable for storing data that should remain constant.

**What is a hash table, and how does it relate to dictionaries in Python?**

A hash table (or hash map) is a data structure that stores key-value pairs. It uses a hash function to compute an index into an array of buckets or slots, from which the desired value can be found. Python dictionaries are implemented using hash tables, which allows for very fast average-case time complexity for operations like insertion, deletion, and lookup.

**Can lists contain different data types in Python?**

Yes, lists in Python can contain elements of different data types. You can have a list with integers, strings, floats, other lists, etc., all within the same list.

**Explain why strings are immutable in Python.**

Strings are immutable in Python for several reasons, including efficiency and safety. Being immutable allows Python to optimize string operations and share memory for identical strings. It also prevents unexpected changes to string values in different parts of a program, making code more predictable and easier to debug.

**What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries offer advantages over lists when you need to:
*   Quickly look up values based on a key rather than an index.
*   Store data with meaningful labels (the keys).
*   Represent relationships between pieces of data (key-value pairs).
Accessing elements in a dictionary by key is generally much faster than searching for an element by value in a list.

**Describe a scenario where using a tuple would be preferable over a list.**

A scenario where using a tuple would be preferable over a list is when you need to represent a collection of related items that should not change, such as coordinates (x, y), RGB color values (red, green, blue), or a record of a database entry's fields. The immutability of the tuple guarantees that these values remain constant.

**How do sets handle duplicate values in Python?**

Sets automatically handle duplicate values by storing only one instance of each unique element. When you add elements to a set, any duplicates are simply ignored, ensuring that each element in the set is unique.

**How does the “in” keyword work differently for lists and dictionaries?**

*   For **lists**, the `in` keyword checks if an element's value exists within the list. It performs a linear search, which can be slow for large lists.
*   For **dictionaries**, the `in` keyword checks if a key exists within the dictionary. This is a much faster operation, leveraging the dictionary's underlying hash table implementation.

**Can you modify the elements of a tuple? Explain why or why not.**

No, you cannot modify the elements of a tuple because tuples are immutable data types in Python. Once a tuple is created, its size and the values of its elements are fixed. If you need to change the data, you must create a new tuple.

**What is a nested dictionary, and give an example of its use case?**

A nested dictionary is a dictionary where the values are themselves dictionaries. This allows you to represent hierarchical or more complex data structures.
*   **Example Use Case:** Representing information about multiple users, where each user's information is stored in a separate dictionary nested within the main dictionary.

**Describe the time complexity of accessing elements in a dictionary.**

On average, the time complexity of accessing elements (lookup, insertion, deletion) in a Python dictionary is O(1) (constant time). This is because dictionaries use hash tables, which allow for direct access to elements based on their hash value. In the worst-case scenario (due to hash collisions), the time complexity can degrade to O(n) (linear time), but this is rare with good hash functions.

**In what situations are lists preferred over dictionaries?**

Lists are preferred over dictionaries when:
*   The order of elements matters.
*   You need to store a collection of items and access them by their position (index).
*   You might have duplicate items and want to keep them.
*   You need to iterate through the elements in a specific order.

**Why are dictionaries considered unordered, and how does that affect data retrieval?**

In Python versions before 3.7, dictionaries were considered unordered because the order of elements was not guaranteed to be the same as the insertion order. This was due to the internal implementation using hash tables, where the position of an item depends on its hash value, not the order it was added. In Python 3.7+, dictionaries maintain insertion order.

For versions where they were unordered, this meant you couldn't rely on accessing elements by a numerical index like you can with lists. Data retrieval was done solely by key. While in 3.7+ they maintain insertion order, it's still best practice to access elements by key for clarity and compatibility with older code or other languages where dictionaries might be unordered.

**Explain the difference between a list and a dictionary in terms of data retrieval.**

*   **Lists:** Data retrieval in lists is primarily done by index (position). You access elements using their numerical index (e.g., `my_list[0]`). You can also search for elements by value, but this requires iterating through the list.
*   **Dictionaries:** Data retrieval in dictionaries is done by key. You access values using their associated key (e.g., `my_dictionary["my_key"]`). You cannot access elements by a numerical index (unless the keys happen to be integers).

### Lists

Lists are ordered, mutable collections of items. They are one of the most versatile data structures in Python and can hold elements of different data types.

**Key Characteristics:**
*   **Ordered:** Elements have a defined order, and you can access them by their index.
*   **Mutable:** You can change, add, or remove elements after the list is created.
*   **Allows Duplicates:** Lists can contain multiple instances of the same element.
*   **Dynamic Size:** Lists can grow or shrink as needed.

**Common Operations:**
*   **Creating a list:**

In [ ]:
print(my_list[0])
print(my_list[-1])

In [ ]:
print(my_list[1:4])

In [ ]:
my_list[0] = 10
print(my_list)

In [ ]:
my_list.append('d')
my_list.insert(1, 'x')
print(my_list)

In [ ]:
my_list.remove('x')
my_list.pop(0)
print(my_list)

In [ ]:
for item in my_list:
    print(item)

In [ ]:

print('z' in my_list)

### Lists (Think of a Shopping List!)

Imagine a shopping list. That's pretty much what a Python list is!

*   **It keeps things in order:** Just like your shopping list has items one after the other, a Python list remembers the order you put things in. You can point to the first item, the second item, and so on.
*   **You can change it:** This is the cool part! You can add things to your list (append), cross things off (remove), or even change an item on the list (modify). Lists are super flexible.
*   **You can have the same thing more than once:** If you need two bottles of milk, you write milk on your list twice. Lists are fine with having duplicates.
*   **It can hold anything:** Your shopping list can have groceries, cleaning supplies, or even a reminder to pick up the dry cleaning. Python lists can hold numbers, words, or even other lists!

Here are some ways you'd work with a shopping list (and a Python list):

In [ ]:
my_shopping_list = ["milk", "bread", "eggs"]
print(my_shopping_list)

['milk', 'bread', 'eggs']

In [ ]:
print(my_shopping_list[0])

milk

In [ ]:
my_shopping_list.append("cheese")
print(my_shopping_list)

['milk', 'bread', 'eggs', 'cheese']

In [ ]:
my_shopping_list[1] = "whole wheat bread"
print(my_shopping_list)

['milk', 'whole wheat bread', 'eggs', 'cheese']

In [ ]:
my_shopping_list.remove("eggs")
print(my_shopping_list)

['milk', 'whole wheat bread', 'cheese']

In [ ]:
print("milk" in my_shopping_list)
print("broccoli" in my_shopping_list)

True
False

Write a code to create a string with your name and print itP

In [ ]:
my_name = "Utkaarsh Kumar"
print("My name is:", my_name)

My name is: Utkaarsh Kumar

Write a code to find the length of the string "Hello World"P

In [ ]:
text = "Hello World"
length = len(text)
print("Length of the string is:", length)

Length of the string is: 11

 Write a code to slice the first 3 characters from the string "Python Programming"P

In [ ]:
text = "Python Programming"
sliced = text[:3]
print("First 3 characters are:", sliced)

First 3 characters are: Pyt

Write a code to convert the string "hello" to uppercaseP

In [ ]:
text = "hello"
uppercase_text = text.upper()
print("Uppercase string:", uppercase_text)

Uppercase string: HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple"P

In [ ]:
text = "I like apple"
new_text = text.replace("apple", "orange")
print("Updated string:", new_text)

Updated string: I like orange

Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
numbers = [1,2,3,4,5]
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

Write a code to append the number 10 to the list [1, 2, 3, 4

In [ ]:
numbers = [1,2,3,4]
numbers.append(10)
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]P

In [ ]:
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print("List after removing 3:", numbers)

List after removing 3: [1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd']P

In [ ]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print("Second element:", second_element)

Second element: b

Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print("My tuple:", my_tuple)

My tuple: (100, 200, 300)

Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print("Second-to-last element:", second_to_last_element)

Second-to-last element: blue

 Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [ ]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print("Minimum number:", minimum_number)

Minimum number: 5

 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [ ]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index("cat")
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [1]:
my_set = {'a', 'b', 'c'}
print("My set:", my_set)

My set: {'c', 'b', 'a'}

Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [2]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Cleared set:", my_set)

Cleared set: set()

 Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [3]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [4]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [5]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [6]:
person = {
  "name": "Alice",
  "age": 30,
  "city": "New York"
}
person

{'name': 'Alice', 'age': 30, 'city': 'New York'}

Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [7]:
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
person

{'name': 'John', 'age': 25, 'country': 'USA'}

Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [ ]:
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
name_value

Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
person

Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
person = {'name': 'Alice', 'city': 'Paris'}
if "city" in person:
  print("The key 'city' exists in the dictionary.")
else:
  print("The key 'city' does not exist in the dictionary.")

Write a code to create a list, a tuple, and a dictionary, and print them all.

In [ ]:
my_list = [1, 2, 3, "apple", True]
my_tuple = ("red", "green", "blue")
my_dict = {
  "name": "Python",
  "version": 3.9,
  "is_awesome": True
}
print("My List:", my_list)
print("My Tuple:", my_tuple)
print("My Dictionary:", my_dict)

Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [8]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [19, 84, 84, 87, 88]

 Write a code to create a list with strings and print the element at the third index

In [ ]:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
my_list[2]

Write a code to combine two dictionaries into one and print the result

In [ ]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}

combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

 Write a code to convert a list of strings into a set.

In [ ]:
list_of_strings = ["apple", "banana", "cherry", "apple", "date"]
set_of_strings = set(list_of_strings)
print("Set of strings:", set_of_strings)